
/* List of color palette: 
  Basic: #312f34, 
  Basic brighter: #3b393e,
  Basic darker: #242327,

  Almost white: #eeeee9,

  Lila: #524e5b;
*/

/* Simple Animation */
@keyframes on {
  from {color: transparent;}
  to {color: #eeeee9;}
}

@keyframes off {
  from {color: #eeeee9;}
  to {color: transparent;}
}

/* Generals */

body {
 background-color: #312f34;
 color: #eeeee9;
 font-family: 'Courier New', monospace;
 /*! width: 100%; */
 height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}


/* Title */
.title {
  width: 100%;
  position: sticky;
  top: 0;
  height: 20%;
  background-color: #312f34;
  z-index: 100;
}

h1 {
  font-size: 4rem;
  color: #eeeee9;
  text-align: center;
  animation-name: on;
  animation-duration: 6s;
}

/* Search by name */

.search-bar-container {
  display: flex;
  justify-content: center;
}

input[type=text] {
  width: 60%;
  height: 2em;
  font-size: 1.5vw;
  border-radius: 8px;
  padding-left: 1%;
  transition: 0.5s;
  outline: none
}

.search-icon-container {
  width: 20%;
}

.search-icon {
  font-size: 4vw;
  color: #eeeee9;
  padding-right: 2%;
}
/* List */
.satellite-list-container  {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

p {
  padding: 0%;
  margin: 0%;
  margin-top: 2%;
}

/* 2nd column  */
.col2-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  width: 100%;
}
/* checkbox por succesful launches */
.checkbox-container {
  display: inline-block;
  margin-right: 3%;
  border-radius: 8px;
  background-color: #3b393e;
  padding: 0.5%;
  height: 2.4vw;
  font-size: 2vw;
  padding-right: 2%;
  width: 27%;
}

.checkbox {
  color: transparent;
}

.checkbox--active {
  color: #eeeee9;
  animation-name: on;
  animation-duration: 2s;
}

/* Hides default checkbox */
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* date filter */
.date-filter-containter {
  background-color: transparent;
  padding: 0.5%;
  width: 30%;
}

.date-title {
  display: inline-block;
  font-size: 2vw;
  margin-right: 1%;
}
