/body {
  background-color: lightblue;
}

.container {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4rem;
  color: #eeeee9;
  background-color: #312f34;
}

.satellite-list {
  background-color: transparent;
}
