/*Color palette: 
* Basic: #312f34, 
* Basic brighter: #3b393e,
* Basic darker: #242327,
* Almost white: #eeeee9,
* Lila: #524e5b;
*/


/* Simple Animation */
@keyframes on {
  from {color: transparent;}
  to {color: #eeeee9;}
}


/* Generals */
html { 
  background: url('../public/stars-byPaaprikaa.png')no-repeat center center fixed;
  background-color: #312f34;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  opacity: 95%;
}

body {
  color: #eeeee9;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}


/* Title */
.title {
  width: 100%;
  position: sticky;
  top: 0;
  height: 20%;
  background-color: #312f34;
  z-index: 100;
  padding-bottom: 3vh;
  padding-top: 4vh;
  margin: 0;
  margin-bottom: 3%;
}

h1 {
  font-size: 4.4rem;
  color: #eeeee9;
  text-align: center;
  animation-name: on;
  animation-duration: 6s;
  margin: 0;
}


/* Search by name */
.search-bar-container {
  display: flex;
  justify-content: center;
}

input[type=text] {
  width: 60%;
  height: 2em;
  font-size: 1.5vw;
  border-radius: 8px;
  padding-left: 1%;
  transition: 0.5s;
  outline: none
}

/* List */
.satellite-list-container  {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}


/* 2nd row  */
.row2-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  width: 100%;
}

/* checkbox por succesful launches */
.checkbox-container {
  display: inline-block;
  margin-right: 3%;
  border-radius: 8px;
  background-color: #3b393e;
  padding: 0.5%;
  height: 2.4vw;
  font-size: 2vw;
  padding-right: 2%;
  width: 32%;
}

.checkbox {
  color: transparent;
}

.checkbox--active {
  color: #eeeee9;
  animation-name: on;
  animation-duration: 2s;
}

/* Hides default checkbox */
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* date filter */
.date-filter-container {
  z-index: 95;
  background-color: transparent;
  padding: 0.5%;
  width: 30%;
}

.date-title {
  display: inline-block;
  font-size: 2vw;
  margin-right: 1%;
}
